# xlog
/dev/xlog                 0660   system     audio

# spi ir nodes
/dev/ir_spi               0660   system     system

# mius iio devices
/dev/iio:device*                                                           0660 system system
/sys/devices/platform/us_prox.0/iio:device* buffer/enable                  0600 system system
/sys/devices/platform/us_prox.0/iio:device* scan_elements/in_proximity_en  0600 system system
/sys/devices/platform/us_prox.0/iio:device* scan_elements/in_timestamp_en  0600 system system
